@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --primary: #504B38;
  --secondary: #B9B28A;
  --tertiary: #EBE5C2;

  --accent: #A31D1D;
  --background: #F8F3D9;

  --text: #2B2B2B;
  --text-muted: #6B6755;
}

:root {
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Nunito", sans-serif;
  
  font-size: 2.5rem;
  line-height: 1.2;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */